// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "@fortawesome/fontawesome-free/css/fontawesome.css";
@import "@fortawesome/fontawesome-free/css/regular.css";
@import "@fortawesome/fontawesome-free/css/solid.css";
@import "@fortawesome/fontawesome-free/css/brands.css";

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
